<div class="register-user-container">
  <form [formGroup]="form" (ngSubmit)="registerUser()" class="register-form-container wd">
    <fieldset>
      <legend>
        Create user
      </legend>
      <div >
        <label>
          Username
        </label>
        <input type="text" formControlName="username"/>
      </div>
      <div>
        <label>Company</label>
        <select class="select-box" formControlName="companyId">
          <option *ngFor="let c of companies;" value="{{c.companyid}}">{{c.companyname}} ({{c.companycode}})</option>
        </select>
      </div>
      <div class="field-container">
        <label>
          Password
        </label>
        <input type="password" formControlName="password"/>
        
      </div>
      <div class="field-container">
        <label>
          Confirm Password
        </label>
        <input type="password" formControlName="confirmPassword"/>
      </div>
      <div>
        <button class="cd btn-reg" type="submit" >Register</button>
      </div>
    </fieldset>
  </form>
</div>