.menu-container{
  position: relative;
  overflow-y: hidden;
  min-height: 70px;
  right:0px;
  border-radius: 8px;
}
.sliding-menu-container{
  display:flex;
  align-content: right;
  justify-content: flex-end;
  flex-direction: column ;
  width:100%;
  max-width: 400px;
}
.menu{
  width:100%;
  flex-basis: 100%;
  flex-shrink: 0;
  padding:50px 0px 10px 0px;
  border-radius: 8px;
}
.toggle-button{
  position: absolute;
  top:25px;
  right:25px;
  z-index: 100;
  flex-basis: 100%;
  display:flex;
  justify-content: flex-end;
}
button.submit-btn{
  padding:12px;
  margin:24px 0px 24px;
  width:100%;
}

.form-container{
  padding:0px 25px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

input{
  width:calc(100% - 18px);
}