<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <form [formGroup]="form" (ngSubmit)="saveCompanyIntegrations()" class=" card-content company-integration-form orange lighten-2">
        <span class="card-title">Company Integrations</span>
        <button (click)="addIntegration()" type="button" class="btn-reg">Add Integration</button>
        <table>
          <thead>
            <tr>
              <th>Type</th>
              <th>Identifier (usually URL, or subdomain)</th>
              <th></th>
            </tr>
          </thead>
          <tbody formArrayName="integrations" >
            <tr *ngFor="let integration of integrations.controls; let i=index;" [formGroupName]="i" >
              <td>
                <input type="hidden" name="companyintegrationid" fromControlName="companyintegrationid">
                <input type="hidden" name="companyid" formControlName="companyid">
                <select class="select-box" formControlName="systemtypeid">
                  <option *ngFor="let type of systemTypes" value="{{type.systemtypeid}}">{{type.systemtypedesc}}</option>
                </select>
              </td>
              <td>
                <input type="text" name="integrationidentifier" formControlName="integrationidentifier">
              </td>
              <td>
                <button type="button" (click)="removeIntegration(i)" class="btn-no-pad tc">Remove</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <button class="btn-reg cd" type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
