/* You can add global styles to this file, and also import other style files */

body{
  font-family: sans-serif;
}
.container{
  max-width:1200px;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.link.Regular {
  stroke: green;
}

.link.OutsideOfWork {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
} 

/* This is the main coloring block for consistent theme:
  tc- total contrast (good for CTA)
  cd - cool dark - the darker of the cool colors on the scale
  cl - cool light - the lighter of the cool colors on the scale
  wl - warm light - the lighter of the warm colors
  wd - warm dark - the darker of the warm colors
  Also for use in the Globals service */
.tc{
  background-color: #FE4A49;
  color:#f2f5f9;
}
.cd{
  background-color: #009FB7;
  color:#f2f5f9;
}
.cl{
  background-color: #E5E5E5;
  color:slategray;
}
.wd{
  background-color: #E37222;
  color:#f2f5f9;
}
.wl{
  background-color: #EEAA7B;
  color:slategray;
}

.dark-text{
  color:slategrey;
}
.light-text{
  color:#f2f5f9;
}

input {
  height:1.8em;
  max-width: 400px;
  font-size:1em;
  padding:.4em;
  border-radius: 5px;
}
label {
  display: block;
  width:100%;
  line-height: 1.5em;
  margin: 10px 0px 7px;
}

button{
  border-radius: 8px;
  font-size: 1em;
}
button.btn-reg{
  padding:12px 12px;
  margin:12px 0px 12px 12px;
}

button.btn-sm{
  padding:8px 10px;
}
button.btn-transparent{
  opacity: 0.5;
}