/* You can add global styles to this file, and also import other style files */

body{
  font-family: sans-serif;
}
.container{
  background-color: black;
  display:flex;
  width:100%;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.link.Regular {
  stroke: green;
}

.link.OutsideOfWork {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
} 

.tc{
  background-color: #FE4A49;
  color:#f2f5f9;
}
.cd{
  background-color: #009FB7;
  color:#f2f5f9;
}
.cl{
  background-color: #E5E5E5;
  color:slategray;
}
.wd{
  background-color: #E37222;
  color:#f2f5f9;
}
.wl{
  background-color: #EEAA7B;
  color:slategray;
}

.dark-text{
  color:slategrey;
}
.light-text{
  color:#f2f5f9;
}