<div class="login-container">
  <form [formGroup]="form" (ngSubmit)="login()" class="login-form wd">
    <fieldset>
      <legend>Login</legend>
      <div class="error-box" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <div>
        <label>
          Username
        </label>
        <input class="login-text" type="text" formControlName="username" />
      </div>
      <div>
        <label>
          Password
        </label>
        <input class="login-text" type="password" formControlName="password" />
      </div>
      <div>
        <button type="submit" class="btn-reg cd">Login</button>
      </div>
    </fieldset>
  </form>
</div>